<div class="main">
  <div class="img">
    <img src="../../assets/image-removebg-preview__2_-removebg-preview.png">
  </div>
  <div class="login-main">
    <h1>CONMUSIC</h1>
    <form (ngSubmit)="logerr()" method="post">
      <input required type="email" placeholder="email" />
      <input required type="password" placeholder="password" />
      <input type="submit" id="btn-send" />
      <input type="submit" value="Registrarse" />
    </form>
    <a href="/home" id="fpwd">¿Olvidaste tu contraseña?</a>
    <img src="../../assets/image-removebg-preview.png" class="guitar">
  </div>
</div>
