* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-main {
  display: flex;
  flex-direction: column;
  border-radius: 7em;
  align-items: center;
  background-color: #FBE6E8;
  padding: 2em;
  width: 40%;
  height: 70%;
  gap: 3em;
  position: relative;
  z-index: 30;
}

h1 {
  font-weight: bold;
  font-size: 3em;
}

.login-main form {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 80%;

}

.login-main form input {
  border-radius: 3em;
  font-size: 2em;
  padding: 0.5em;
  border: 0;
  background-color: #EEE0D7;
  text-align: center;
}

.main {
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(80, 0, 0, 1) 0%, rgb(186, 77, 87) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}

a {
  font-size: 1.5em;
}

.btn-send {
  padding: 0.5em;

  width: 40%;
  align-self: center;
  color: #FBE6E8;
  background-color: #A23944;
  border-radius: 7em;
  font-size: 2em;
}
#btn-send{
  width: 50%;
  align-self: center;
  color: #FBE6E8;
  background-color: #A23944;
  border-radius: 7em;
}

#fpwd {
  position: relative;
  z-index: 40;
}

.guitar {
  position: absolute;
  bottom: -15%;
  left: 5%;
  margin-bottom: 0;
  width: 60%;
  z-index: 1;
}

.img {
  position: absolute;
  z-index: 3;
  animation-name: slidein;
  animation-duration: 2.5s;
  width: 0%;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 100%;
  }

  to {
    margin-right: 0%;
    width: 0%;
  }
}
