<div id="div-main">
  <nav id="buscador">
    <input (keydown)="cambiarLista()" [(ngModel)]="_input" type="text" />
    <button><img style="height:40px;" src="../../assets/Lupa.png" /></button>
  </nav>
  <ul>
    <li *ngFor="let cancion of lista_cambio">
      <h2><strong>Titulo:</strong><br>{{cancion.nombre}}</h2>
      <h2><strong>Autor:</strong><br>{{cancion.autor}}</h2>
      <button (click)="playMusic(cancion.nombre,cancion.autor)"> <img src="../../assets/Play.png"></button>
      <button (click)="descargarArchivo(cancion.nombre,cancion.autor)">  <img src="../../assets/Descargar.png"></button>
    </li>
  </ul>
</div>
