input {
  border: none;
  /* Elimina el borde */
  background: transparent;
  /* Fondo transparente */
  padding: 0;
  /* Sin relleno */
  /* Agrega otros estilos personalizados según tus necesidades */
}

img {
  height: 100px;
  margin: 0 auto;
}

button {
  border: none;
  background: transparent;
  padding: 0;
}

ul {
  list-style: none;

  margin: 0;
  padding: 0;

}

ul {
  list-style: none;
  /* Elimina los marcadores de lista (viñetas) */
  margin: 0;
  /* Elimina el margen predeterminado */
  padding: 0;
  /* Elimina el espaciado interno predeterminado */
  /* Agrega otros estilos personalizados según tus necesidades */
}

li {
  margin: 0;
  padding: 0;

}


#div-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
  align-items: center;
}

#buscador {
  background-color: #FBE6E8;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 40%;
  border-radius: 20px;
  position: relative;
  align-items: center;
}

#buscador input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 2em;
}

#buscador button {
  z-index: 2;
  position: absolute;
  right: 10px;
  border-radius: 100%;
  height: 100%;
}


ul {
  background-color: #E04955;
  border-radius: 20px;
  margin: 0 auto;
  width: 90%;
  align-self: center;
  height: 80%;
  overflow-y: scroll;
}

li {
  border-bottom: 1px solid #FBE6E8;
  font-size: 1em;
  display: grid;
  gap: 40px;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
  height: 30%;
  padding: 20px;
}

strong {
  font-weight: 500;
}
