<div id="div-main">
  <nav id="buscador">
    <input type="text" />
    <button><img style="height:40px;" src="../../assets/Lupa.png" /></button>
  </nav>
  <ul>
    <li *ngFor="let cancion of lista" >
      <img src="../../assets/nota.png">
      <h2>{{cancion}}</h2>
      <img src="../../assets/trash.webp">
      <img scr="../../assets/play.webp">
      <button (click)="descargarArchivo()"> Descargar</button>
      <audio controls>
        <source src="../../assets/music/Todo de Cabeza - Kaleth Morales.mp3" type="audio/mp3">
        Tu navegador no soporta el elemento de audio.
      </audio>
      <img>
    </li>
  </ul>
  <div id="div-instrumento">
    <img src="../../assets/more.png">
    <img  src="../../assets/Batería.png">
    Bateria
    <img src="../../assets/reload.png">
  </div>
</div>
