<div id="div-main"> 
    <nav id="nav-superior">
        <img src="../../assets/Logo.png" />
        <h1>Mi música</h1>
        <img src="../../assets/Perfil.png" />
    </nav>
    <nav id="nav-lateral">
        <img src="../../assets/Casa.png" />
        <img src="../../assets/Lupa.png" />
        <img src="../../assets/ListaReproducciones.png" />
        <img src="../../assets/group.png"/>
    </nav>
    <div  id="div-home">
+       <app-home></app-home>
    </div>
    <div >
        <ul class="Canciones">
            <li *ngFor="let cancion of Canciones ">
                <span>
                    <img src="../../assets/Cancion.png" />
                    {{cancion}}
                    <input type="button" src="../../assets/Eliminar.png"/> <input type="button" /> 
                    <img src="../../assets/Eliminar.png" /> <img src="../../assets/Play.png" />
                </span>
            </li>
        </ul>
        <div>
            <button><img src="../../assets/Agregar.png" alt=""></button>
            <img src="../../assets/Batería.png" />
            <h2>{{instrumento}}</h2>
            <button><img src="../../assets/Cambio.png" alt=""></button>
        </div>
        <div>
            <img src="../../assets/Cancion.png" />
        </div>
    </div>
</div>
