  <div class="container">
    <div class="registro-main">
      <h1>Registro</h1>
      <form>
        <div class="formulario">
          <div class="input"> <img src="../../assets/Persona.png" /> <input [(ngModel)]="persona.nombre"
              placeholder="nombre" name="nombre" /></div>

          <div class="input"><img src="../../assets/Persona.png" /> <input [(ngModel)]="persona.apellido"
              placeholder="apellido" name="apellido" /></div>

          <div class="input"> <img src="../../assets/nota.png" /> <input [(ngModel)]="persona.instrumento" placeholder="instrumento" name="instrumento" />
          </div>


          <div class="input"><img src="../../assets/Registro/Correo.png" /> <input [(ngModel)]="persona.correo" required
              type="email" name="correo" placeholder="Correo" /></div>
          <div class="input"> <img src="../../assets/Registro/Contraseña.png" /> <input [(ngModel)]="persona.pass"
              required type="password" name="pass" placeholder="Contraseña" /></div>

          <div class="input"> <img src="../../assets/Registro/Calendario.png" /> <input
              [(ngModel)]="persona.fecha_nacimiento" name="fecha_nacimiento" required type="datetime"
              placeholder="Fecha de Nacimiento" /></div>

          <div class="input"><img src="../../assets/Registro/Confirmar_contraseña.png" /> <input required
              type="password" placeholder="Confirmar contraseña" /></div>

          <input type="submit" id="btn-send" value="Registrar" (click)="registrar()" />
          <input type="submit" value="Regresar" id="atras" (click)="volverAtras()" />
        </div>
      </form>

    </div>

  </div>
