<div class="main">
    <div class="container">
        <h1>CONMUSIC</h1>
        <div class="registro-main">
            <h1>Registro</h1>
            <form>
                <div class="formulario">
                    <img src="../../assets/Persona.png" /> <input  placeholder="Nombre" />

                    <img src="../../assets/Persona.png" /> <input  placeholder="Apellido" />

                    <img src="../../assets/Registro/" /> <input  placeholder="Instrumento" />

                    <img src="../../assets/Registro/Usuario.png" /> <input  placeholder="Usuario" />

                    <img src="../../assets/Registro/Correo.png" /> <input required type="email" placeholder="Correo" /> 

                    <img src="../../assets/Registro/Contraseña.png" /> <input required type="password" placeholder="Contraseña" />

                    <img src="../../assets/Registro/Calendario.png" /> <input required type="datetime" placeholder="Fecha Nacimiento" />

                    <img src="../../assets/Registro/Confirmar_contraseña.png" /> <input required type="password" placeholder="Confirmar contraseña" />

                    <input type="submit" id="btn-send" value="Registrar" />
                    <input type="submit" value="Regresar" />
                </div>
            </form>
            
        </div>
        <img src="../../assets/Guitarra.png" />    
    </div>
</div>