<div class="main">
  <div class="container">
    <div class="registro-main">
      <h1>Registro</h1>
      <form>
        <div class="formulario">
          <div class="input"> <img src="../../assets/Persona.png" /> <input placeholder="Nombres" /></div>

          <div class="input"><img src="../../assets/Persona.png" /> <input placeholder="Apellidos" /></div>

          <div class="input"><img src="../../assets/Registro/Guitarra.png" /> <input placeholder="Instrumento" /></div>

          <div class="inpu"><img src="../../assets/Registro/Usuario.png" /> <input placeholder="Usuario" /></div>

          <div class="input"><img src="../../assets/Registro/Correo.png" /> <input required type="email"
              placeholder="Correo" /></div>
          <div class="input"> <img src="../../assets/Registro/Contraseña.png" /> <input required type="password"
              placeholder="Contraseña" /></div>

          <div class="input"> <img src="../../assets/Registro/Calendario.png" /> <input required type="datetime"
              placeholder="Fecha de Nacimiento" /></div>

          <div class="input"><img src="../../assets/Registro/Confirmar_contraseña.png" /> <input required type="password"
            placeholder="Confirmar contraseña" /></div>

          <input type="submit" id="btn-send" value="Registrar" />
          <input type="submit" value="Regresar" (click)="volverAtras()" />
        </div>
      </form>

    </div>
    <!---img src="../../assets/Guitarra.png"!--/>
        <!-->
  </div>
</div>
