* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3em;

}

.container {
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(80, 0, 0, 1) 0%, rgb(186, 77, 87) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.registro-main {
  display: flex;
  flex-direction: column;
  border-radius: 7em;
  align-items: center;
  background-color: #FBE6E8;
  padding: 2em;
  z-index: 30;
  height: 80%;
}


.registro-main form input {
  border-radius: 3em;
  font-size: 1.5em;
  padding: 0.5em;
  border: 0;
  margin-bottom: 5%;
  margin-left: 1em;
  background-color: #EEE0D7;
  text-align: center;
}

#btn-send {
  color: #FBE6E8;
  background-color: #A23944;
}

.formulario {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

img {
  width: 50px;
  height: 50px;
}

.input {
  display: flex;
}
#atras{
  grid-column: span 2;
}